<div class="content-wrapper">
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{(user && user.id) ? "Editar Usuário" : "Cadastrar Usuário"}}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Cadastrar</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">{{(user && user.id) ? "Editar" : "Cadastrar"}}</h3>
            </div>

            <form *ngIf="formGroup" [formGroup]="formGroup" (ngSubmit)="formGroup.valid && salvar()" novalidate>
              <div class="card-body">
                <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" placeholder="Nome" formControlName="nome" required autocomplete="off"/>
                </div>
                <div class="form-group">
                  <label for="nascimento">Data de Nascimento</label>
                  <input type="date" class="form-control" id="nascimento" placeholder="dia/mês/ano" formControlName="nascimento" required autocomplete="off"/>
                </div>
                <div class="form-group">
                  <label>Classificação</label>
                  <select class="form-control" formControlName="classificacao" required>
                    <option></option>
                    <option value="Masculino">Masculino</option>
                    <option value="Feminino">Feminino</option>
                    <option value="Outro">Outro</option>
                  </select>
                </div>
              </div>
              <div class="card-footer">
                <button type="submit" style="float: right;" class="btn btn-primary" [disabled]="!formGroup.valid">Salvar</button>
                <button *ngIf="user && user.id" type="submit" class="btn btn-danger" (click)="deletar()">Deletar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
